@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/*캘린더*/
.react-calendar {
  @apply h-full w-full p-5;
}

/*캘린더nav 년도,월 색깔 */
.react-calendar__navigation button {
  @apply text-2xl text-hanaindigo;
}

/*캘린더 오늘 날짜*/
.react-calendar__tile--now {
  @apply bg-red-500 text-white;
}

/*
오늘 날짜 hover 컬러 
.react-calendar__tile--now:enabled:hover {
  @apply rounded-full bg-green-400;
}
*/

/*캘린더 클릭한 날짜*/
.react-calendar__tile:enabled:focus {
  @apply bg-yellow-200 text-black;
}

.react-calendar__tile--active {
  @apply bg-yellow-200 text-black;
}

/* 캘린더 일정 표시 */
.dot {
  @apply border-b-2 border-red-400;
}

/* 빠른 상담 요청의 반짝거림 애니메이션*/
@keyframes quick-border {
  0% {
    box-shadow: 0 0 5px #cb1136;
  }
  50% {
    box-shadow: 0 0 20px #cb1136;
  }
  100% {
    box-shadow: 0 0 5px #cb1136;
  }
}

.quick-border {
  border: 3px solid #cb1136;
  animation: quick-border 2s infinite;
}

/* 폰트 적용 */
@font-face {
  font-family: 'hana-bold';
  font-weight: bold;
  src: url('./assets/fonts/Hana2-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'hana-normal';
  font-weight: normal;
  src: url('./assets/fonts/Hana2-CM.otf') format('opentype');
}
@font-face {
  font-family: 'hana-light';
  font-weight: light;
  src: url('./assets/fonts/Hana2-Light.otf') format('opentype');
}
@font-face {
  font-family: 'noto-bold';
  font-weight: bold;
  src: url('./assets/fonts/NotoSansKR-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'noto-normal';
  font-weight: normal;
  src: url('./assets/fonts/NotoSansKR-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'noto-light';
  font-weight: light;
  src: url('./assets/fonts/NotoSansKR-light.ttf') format('truetype');
}

body {
  font-family: 'noto-normal';
}
